<p>newuser works!</p>
<form>
    <fieldset>
      <legend>New User Registration</legend>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input type="text" readonly="" class="form-control-plaintext" id="username" name="username">
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="useremail" name="useremail" aria-describedby="emailHelp" placeholder="Enter email">
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="userpassword"  name="userpassword" placeholder="Password">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" class="form-control" id="cuserpassword"  name="cuserpassword" placeholder="Confirm Pa  ssword">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Phone</label>
        <input type="number" class="form-control" id="phone"  name="phone" placeholder="Phone">
      </div>

      <div class="form-group">
        <label for="exampleTextarea">Address</label>
        <textarea class="form-control" id="useraddress" name="useraddress" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">DOB</label>
        <input type="date" class="form-control" id="userdob"  name="userdob" placeholder="Password">
      
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Type</label>
            <select class="form-control" id="exampleSelect1">
                <option selected>Select Type</option>
                <option value="Restaurant owner">Restaurant Owner</option>
                <option value="Cafe Owner">Cafe Owner</option>
                <option value="Lounge Owner">Lounge Owner</option>
                <option value="Bistro Owner">Bistro Owner</option>
                <option value="Pub Owner">Pub Owner</option>
                <option value="Personal Owner">Personal Owner</option>
              </select>
          
            </div>
      
            <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
      
      
      
  </form>
  <artist-reg></artist-reg>
