<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: groove; height: 70px;">
    <a class="navbar-brand" href="#">
      <!-- navbar logo -->
       <span class="logo">bookMyAtrist</span>
    </a>
      <!-- navbar collapse for smaller devices -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="height: 60px;">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <div>
          <i class="fa fa-th nav-item nav-link" aria-hidden="true" style="color: gray;">
              <span class="category-txt" >Categories</span>
          </i>
        </div>
      <!-- navbar search with ficon search-icon  -->
    <form class="form-inline my-2 my-lg-0">
        <form class="form-inline my-2 my-lg-0">
          <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search">
        </form>
    </form>
    <!-- navbar links  -->
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                   <a class="nav-link" href="#">Home</a>
             </li>
            <li class="nav-item">
              <a class="nav-link" href="#">bookMyAtrist for Businuss</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="artist-reg">Artist Registration</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">About</a>
            </li>
          </ul>
    <!-- <pre>    <div class="vline"></div></pre> -->
    <!-- navbar cart-icon  -->
    <div class="cart-icon">
      <button class="close"><i class="fas fa-shopping-cart"></i></button>
    </div>
    <!-- navbar login & sign up  button -->
    <div>
      <button class="btn btn-login"  data-toggle="modal" data-target="#mylogin">Log In</button>
      <button class="btn btn-danger">Sign Up</button>
    </div>
   </div>
</nav>
<app-login></app-login>
<artist-reg></artist-reg>
