<p>welcome-artist works!</p>
<h1>Welcome </h1>

    <table >
<tr *ngFor="let a of artist;">
    <td>Artist Email ID:{{a.artistEmailID}}</td>
    <td>Artist name:{{a.artistName}}</td>
    
    <td>Artist name:{{a.artistName}}</td>
    <td>Artist name:{{a.artistPhoneNumber}}</td>
    <td>Artist name:{{a.artistGenre}}</td>
    <td>Artist name:{{a.artistAvailDays}}</td>
    <td>Artist name:{{a.artistfees}}</td>
    <td>Artist name:{{a.artistName}}</td>
    <td>Artist name:{{a.artistCertification}}</td>
    <td>Artist name:{{a.artistExperience}}</td>
    <td>Artist name:{{a.artistAddress}}</td>
    <td>Artist name:{{a.artistPassword}}</td>
    <td>Artist name:{{a.artistDob}}</td>
    <td>Artist name:{{a.prefWorkHours}}</td>
    <td>Artist name:{{a.artistPicture}}</td>

</tr>
    

</table>